@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* 스크롤바 전체 스타일 */
*::-webkit-scrollbar,
.overflow-x-scroll::-webkit-scrollbar,
.overflow-x-auto::-webkit-scrollbar {
  width: 6px; /* 스크롤바의 너비 */
  height: 6px; /* 스크롤바의 높이 (가로 스크롤일 경우) */
}

/* 스크롤바 트랙 (바탕) 스타일 */
*::-webkit-scrollbar-track,
.overflow-x-scroll::-webkit-scrollbar-track,
.overflow-x-auto::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바 트랙의 배경색 */
}

/* 스크롤바 핸들 (움직이는 부분) 스타일 */
*::-webkit-scrollbar-thumb,
.overflow-x-scroll::-webkit-scrollbar-thumb,
.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #888; /* 스크롤바 핸들의 색상 */
  border-radius: 3px;
}

/* 스크롤바 핸들을 호버할 때 스타일 */
*::-webkit-scrollbar-thumb:hover,
.overflow-x-scroll::-webkit-scrollbar-thumb:hover,
.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background: #555; /* 호버 시 핸들의 색상 */
}
